[submodule "quicli"]
	path = quicli
	url = git@github.com:vitiral/quicli.git
[submodule "artifact-frontend/yew"]
	path = artifact-frontend/yew
	url = git@github.com:vitiral/yew.git
[submodule "artifact-frontend/stdweb"]
	path = artifact-frontend/stdweb
	url = git@github.com:koute/stdweb.git
[submodule "artifact-frontend/yew_simple"]
	path = artifact-frontend/yew_simple
	url = git@github.com:vitiral/yew_simple.git
