<h2>View of {{model.name.value}}</h2>

<!-- Submit Button -->
<br/>
<div *ngIf="valid()">
  TODO: Put Submit-Button Here
</div>
<div *ngIf="!valid()">
  TODO: Put Disabled Submit-Button Here
  <div class="alert inline">
    Fix errors below
  </div>
</div>

<br/>
TODO (remove): Artifact{{ model | json }}<br>
TODO (remove): newPartof={{ newPartof }}<br>
<!-- Name input with error feedback -->
<h3>
  <div>
    <b><label for="name">name</label></b>
    <input type="text" id="name" name="name"
           required
           [(ngModel)]="model.name.value" />
  </div>
</h3>
<div *ngIf="!artNameValid(model.name.value)"
     class="alert" >
  {{artNameErrorMsg}}
</div>

<!-- partof listed input with error feedback
     pressing enter anywhere in this list will add a new partof 
     and move you to add more 
-->
<div>
  <h4>partof</h4>
  <ul>
    <li *ngFor="let p_of of model.partof; let i = index;">
      <input type="text" [(ngModel)]="p_of.value" 
             id="partof-{{i}}" name="partof-{{i}}" 
             (keyup.enter)="addNewPartof(); switchFocus(inputPartofNew)"
             />
      <button class="delete"
          (click)="p_of.value = ''; updatePartof();">x</button>
      <div *ngIf="!artNameValid(p_of.value)"
           class="alert inline" >
        {{artNameErrorMsg}}
      </div>
      <div *ngIf="partofNameError(p_of.value)"
           class="alert inline" >
        {{partofNameError(p_of.value)}}
      </div>
    </li>
    <li>
      <!-- TODO: keyup.enter seems to not work with forms
        (it... replaces several partof items)
        I suspect it is related to form submission, but I do
        not know -->
      <input type="text" [(ngModel)]="newPartof"
             id="inputPartofNew" name="inputPartofNew" 
             #inputPartofNew
             (keyup.enter)="addNewPartof()" />
      <button class="delete"
          (click)="newPartof = ''">x</button>
      <div *ngIf="!artNameValid(newPartof)"
           class="alert inline" >
        {{artNameErrorMsg}}
      </div>
      <div *ngIf="partofNameError(newPartof)"
           class="alert inline" >
        {{partofNameError(newPartof)}}
      </div>
    </li>
  </ul>
</div>

<!-- readonly display of parts -->
<h4>parts</h4>
<ul>
  <li *ngFor="let p of model.parts">
    {{p}}
  </li>
</ul>

<!-- editable text, anything can be written here -->
<!-- TODO: display rendered markdown alongside this -->
<div>
  <label for="text"><h4>text</h4></label>
  <textarea id="text" name="text" 
            rows="30" cols="90"
            class="br_nowrap"
            [(ngModel)]="model.text.value" 
            #text="ngModel">
  </textarea>
</div>

